.example-card {
    width: 90vw;
    margin: 5rem;
    /* height: 900px; */
}

.example-header-image {
    background-image: url('~/assets/images/logo-header.png');
    background-size: cover;
    width: 8rem;
    height: 4rem;
}