<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo-login.png" class="user-avatar" />

            <h1>EMS Mobile</h1>
            <!--<form role="form">-->
            <div [mdcElevation]="9" [animateTransition]="true" class="blox-elevation-surface form-content co-selection-form">
                <!--    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>-->
                <!--<p>Selezionare la Centrale Opeartiva di riferimento</p>-->
                <!--   -->
                <p>Selezionare la centrale operativa di riferimento e confermare per procedere</p>
                <div mdcSelect (valueChange)="select($event)">
                    <span mdcSelectedText>Selezionare la C.O.</span>
                    <div mdcSimpleMenu>
                        <ul mdcList>
                            <li mdcListItem value="BOLOGNA">BOLOGNA</li>
                            <li mdcListItem value="FERRARA">FERRARA</li>
                            <li mdcListItem value="MODENA">MODENA</li>
                            <li mdcListItem value="PARMA">PARMA</li>
                            <li mdcListItem value="PIACENZA">PIACENZA</li>
                            <li mdcListItem value="REGGIO EMILIA">REGGIO EMILIA</li>
                            <li mdcListItem value="RAVENNA">RAVENNA</li>
                        </ul>
                    </div>
                </div>
                <!-- <button mdcButton raised (click)="open = true">Scegli una centrale</button>
                <div class="snippet-container col-md-12" #viewport>
                    <div mdcMenuAnchor #anchor="mdcMenuAnchor" [style.top]="pTop" [style.bottom]="pBottom" [style.left]="pLeft" [style.right]="pRight">
                        <div mdcSimpleMenu [(isOpen)]="open" [menuAnchor]="anchor" (pick)="select($event.value)">
                            <ul mdcList>
                                <li mdcListItem value="BOLOGNA">BOLOGNA</li>
                                <li mdcListItem active value="FERRARA">FERRARA</li>
                                <li mdcListItem value="MODENA">MODENA</li>
                                <li mdcListItem value="PARMA">PARMA</li>
                                <li mdcListItem value="PIACENZA">PIACENZA</li>
                                <li mdcListItem value="REGGIO EMILIA">REGGIO EMILIA</li>
                                <li mdcListItem value="RAVENNA">RAVENNA</li>
                            </ul>
                        </div>
                    </div>
                </div>-->

                <p *ngIf="selected">Centrale selezionata:</p>
                <p>
                    <strong>{{co}}</strong></p>
                <p *ngIf="selected">Confermare per procedere</p>

                <!--<div>Your choice: {{value}}</div>-->
            </div>
            <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Conferma </a> &nbsp;-->
            <button mdcButton [routerLink]="['/']" (click)="onLoggedin()" compact raised [disabled]="disabled">Conferma</button>



            <!--<a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>-->
            <!--</form>-->
        </div>
    </div>
</div>