<div class="sideabar-version"></div>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" style="padding: 0px">
            <div class="row sidebar-menu-item-container">
                <div class="col-md-3 sidebar-menu-item-icon">
                    <i class="fa fa-2x fa-rss"></i>
                </div>
                <div class="col-md-8 sidebar-menu-item">
                    <span>&nbsp;{{ 'DUMP 118' | translate }}</span>
                </div>
            </div>
        </a>
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" style="padding: 0px">
            <div class="row sidebar-menu-item-container">
                <div class="col-md-3 sidebar-menu-item-icon">
                    <i class="fa fa-2x fa-map-marker"></i>
                </div>
                <div class="col-md-8 sidebar-menu-item">
                    <span>&nbsp;{{ 'Mappa' | translate }}</span>
                </div>
            </div>
        </a>
    </ul>
</nav>
